input {
    font-size: 17px;
    border-color: rgba(11, 31, 53, .4);
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 170px;
    padding-left: 16px;
    outline: none;
}

.notSelected {
    border-color: rgba(255, 92, 92, 1);
}

.selected {
    border-color: rgba(11, 31, 53, .4);
}


.react-datepicker-ignore-onclickoutside:focus {
    outline-style: dotted;
    border-color: rgba(11, 31, 53, .4);
}
